<template>
    <div>
        <div class="page__header">
            <h1 class="page__heading page-content__heading">
                {{ item.title.length ? item.title : 'Вебинар' }}
            </h1>
        </div>

        <div class="page__container">
            <form @submit.prevent="onSubmit" class="form page__group">
                <div class="form__content">
                    <div class="form__control">
                        <custom-input
                                v-model="item.title"
                                placeholder="Название"
                                :errors="errors.hasOwnProperty('title') ? errors.title : []"
                        ></custom-input>
                    </div>

                    <image-input
                        v-model="item.cover"
                        :current="item.cover_src"
                        label="Фото"
                        btn="Загрузить фото"
                    ></image-input>

                    <div class="form__control">
                        <custom-input
                                v-model="item.video"
                                placeholder="Ссылка на видео"
                                :errors="errors.hasOwnProperty('video') ? errors.video : []"
                        ></custom-input>
                    </div>
                    <div class="form__control">
                        <custom-select
                                label="Категория вебинара"
                                :options="categories"
                                v-model="item.category_id"
                                :errors="errors.hasOwnProperty('category_id') ? errors.category_id : []"
                        ></custom-select>
                    </div>
                    <div class="form__control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="item.published" class="checkbox__field">
                            <div class="checkbox__wrapper">
                                <span class="checkbox__text">
                                    Опубликован
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                    <input :disabled="processing" type="submit" value="Сохранить" class="button button_theme_primary">
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import CustomInput from '../ui/CustomInput';
    import CustomSelect from '../ui/CustomSelect';
    import InputError from '../ui/InputError';
    import ImageInput from './ui/ImageInput';

    export default {
        components: {CustomInput, CustomSelect, InputError, ImageInput},
        props: {
            initial: {
                type: Object,
                default() {
                    return {
                        item: {
                            id: undefined,
                            title: '',
                            cover: '',
                            cover_src: '',
                            category_id: '',
                            published: true,
                        },
                    }
                }
            },
            categories: {},
        },
        data() {
            return {
                item: this.initial.item,
                errors: {},
                processing: false,
                drop: false
            }
        },
        methods: {
            onSubmit() {
                var self = this;

                if (this.processing) return;

                this.processing = true;

                axios({
                    method: this.item.id === undefined ? 'post' : 'put',
                    url: '/api/webinars' + (this.item.id === undefined ? '' : ('/' + this.item.id)),
                    data: this.item
                })
                .then(() => {
                    if (self.item.id === undefined) {
                        self.$eventHub.$emit('show-notification', 'success', 'Новый вебинар добавлен.');
                    } else {
                        self.$eventHub.$emit('show-notification', 'success', 'Изменения сохранены.');
                    }

                    window.location = '/admin/webinars';
                })
                .catch((e) => {
                    if (e.hasOwnProperty('response') && e.response.status === 422) {
                        self.errors = e.response.data.errors;
                    } else {
                        self.$eventHub.$emit('errors', e);
                    }
                })
                .then(() => {
                    self.processing = false;
                })
            }
        }
    }
</script>